// Colors
$white: #ffffff; // var(--white)
$gluon-grey: #1b1c1e; // var(--black)
$black: #000000; // var(--black)
$wash-me: #fafcfd; // var(--gray-100)
$maui-mist: #eef2f4; // var(--gray-200)
$clear-vision: #e7eef6; // var(--gray-300)
$icelandic-winds: #d8deeb; // var(--gray-400)
$nocturnal: #767d86; // var(--gray-800)
$pharaon-purple: #606483; // var(--gray-850)
$spacescape: #232056; // var(--gray-900)
$black-howl: #1e1d2e; // var(--gray-1000)

$sanctuary-spa: #5fb6e7; // var(--blue-400)
$stay-the-night: #334866; // var(--blue-1000)

$fizz: #afddab; // var(--green-400)
$drop-green: #6bbd64; // var(--green-800)
$linderhof-garden: #2f9626; // var(--green-1000)

$grams-hair: #f5f7f8; // нет
$cold-morning: #e5e5e5; // нет
$granitine: #c6c3c3; // нет
$hamiltpn-blue: #8999a5; // нет

$black-01: rgba(0, 0, 0, 0.1);
$black-07: rgba(0, 0, 0, 0.7);

$gluon-grey-05: rgba(27, 28, 30, 0.5);
$gluon-grey-075: rgba(27, 28, 30, 0.75);

$matisse: rgba(54, 94, 125, 0.1);
$calypso-coral: rgba(236, 95, 107, 0.1);

$blazing-bonfire: #ffa438; // var(--orange-600)
$cheese-please: #ff9316; // var(--orange-700)
$red: #ff0000; // var(--red)

//fonts
// $basic-font-title: "Inter", "Arial", sans-serif;
// $basic-font-title-semibold: "Inter", "Arial", sans-serif;
// $basic-font-text: "Inter", "Arial", sans-serif;
// $basic-font-text-special: "SourceSansProRegular", "Arial", sans-serif;

// Viewports
$mobile-width-only: 699px;
$tablet-width: 768px;
$desktop-width: 1140px;
